 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#800020;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.container{
    width:700px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:#800020;
    font-size:50px;
    font-weight:bold;
    margin-bottom:10px;
}

.caption{
    text-align:center;
    color:#555;
    font-size:20px;
    font-weight:600;
    margin-bottom:35px;
}

.order-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

label{
    color:#800020;
    font-weight:600;
    margin-bottom:8px;
}

input,
textarea,
select{
    padding:14px;
    border:2px solid #800020;
    border-radius:10px;
    font-size:16px;
}

textarea{
    resize:none;
    height:100px;
}

button{
    background:#800020;
    color:white;
    border:none;
    padding:15px;
    font-size:18px;
    font-weight:bold;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#5f0018;
}

footer{
    width:100%;
    text-align:center;
    color:white;
    padding:20px;
    margin-top:50px;
   
    font-size:16px;
}
